---
const data = [
  {
    degree: "M.Tech in Computer Science and Engineering",
    institute: "Indian Institute of Technology, Bombay",
    grade: "9.41/10",
    duration: "2024 - 2026",
    description: "",
    //   "Worked on advanced coursework and research in core computer science areas, with a focus on problem solving, systems thinking, and applied engineering.",
  },
  {
    degree: "B.E. in Computer Engineering",
    institute: "L.D. College of Engineering",
    grade: "8.39/10",
    duration: "2020 - 2024",
  },
];
---

<section aria-labelledby="education-heading">
  <h1 class="text-2xl font-semibold tracking-wide text-slate-100 md:text-3xl">
    Education
  </h1>

  <div class="my-2 flex flex-col gap-4">
    {
      data.map((education, index) => (
        <article>
          <div class="flex flex-wrap justify-between gap-x-5 gap-y-1">
            <div>
              <h2 class="text-base font-semibold text-slate-100 md:text-lg">
                {education.degree}
              </h2>
              <p class="text-slate-200/90">{education.institute}</p>
              <span class="inline-block text-sm text-slate-300">
                Grade: {education.grade}
              </span>
            </div>
            <div class="whitespace-nowrap text-sm text-slate-300">
              {education.duration}
            </div>
          </div>
          {education.description && (
            <p class="mt-1 text-sm leading-relaxed text-slate-300/90">
              {education.description}
            </p>
          )}
        </article>
      ))
    }
  </div>
</section>
